img{
	width: 30%;
	height: 188px;
	float: left;
	margin: 1.66%;
}

h1{
	font-family: 'Roboto', sans-serif;
	background-color: rgba(100,100,100,0.4);
	color: rgb(0,0,0,.8);
	width: 30%;
	margin-left: 1.66%;
	padding-left: 1%;
	padding-bottom: 1%;
	border-bottom: 1px solid rgba(0,0,0,0.35);
	border-radius: 0 0 2em 0;
	text-transform: uppercase;
}